@keyframes anim-btn-waiting{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.btnlink{
    display: inline-block;
    margin: 2px 5px;
    font-size: 0.9rem;
    font-family: segoe ui;
    font-weight: lighter;
}
.btnlink.btnlink-edit{
    color: #60A5ED;
}
.btnlink.btnlink-del{
    color: red;
}
form :disabled{
    background-color: #fafafa;
}
.btn:disabled{
    opacity: 0.8;
}
.btn.waiting::before{
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
    width: 0px;
    height: 0px;
    padding: 4px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-radius: 50%;
    animation-name: anim-btn-waiting;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
label{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
select{
    padding: 7px 15px;
    border: 2px solid #eee;
}
select:focus{
    border-color: #aaa;
    outline: none;
}
select[size]{
    padding: 0px;
}
select:focus{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

input[type="text"], input[type="password"]{
    padding: 10px 20px;
    border: 2px solid #eee;
}
input[type="text"]:focus, input[type="password"]:focus{
    border-color: #aaa;
    outline: none;
}
textarea{
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: arial;
}
textarea:focus{
    border-color: #aaa;
}
.btn{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #eee;
    font-size: 10pt;
    background-color: #fff;
    font-family: segoe ui;
}

.btn.large{
    padding: 15px 30px;
    font-size: 12pt;
}

.btn.medium{
    padding: 10px 20px;
    font-size: 11pt;
}


.btn-register{
    border: 2px solid #06a24f;
    color: #fff;
    background-color: #44b27c;
    transition: all 1s;
    font-size: 12pt;
    width: 100%;
    border-radius: 1000px;
    font-weight: lighter;
}


.btn-login{
    border: 2px solid #06a24f;
    color: #06a24f;
    background-color: #fff;
    transition: all 1s;
    font-size: 12pt;
    width: 100%;
    background-color: transparent;
    border-radius: 1000px;
    font-weight: lighter;
}

.btn-login:hover{
    background-color: #06a24f;
    color: #fff;
}

.btn-login::after{
    content: '>>';
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 0px;
    transition: all 200ms;
}

.btn-login:hover::after{
    width: 2em;
}

.btn.small{
    padding: 0px;
    font-size: 8pt;
}

.btn.btn-disable{
    opacity: 0.6;
    cursor: not-allowed;
}
.btn.btn-edit{
    background-color: #f6ca2f;
    color: #fff;
    border-color: #f6ca2f;
}

.btn.btn-add{
    background-color: #60A5ED;
    border-color: #60a5ed;
    color: #fff;
}

.btn.btn-save{
    background-color: #61B970;
    border-color: #61B970;
    color: #fff;
}
.btn.btn-cancel{
    border-color: #aaa;
    background-color: #fff;
    color: #333;
}
.btn.btn-del{
    background-color: #C33E3E;
    color: #fff;
    border-color: #c33e3e;
}
.btn-add-i::before{
    content: '\271A';
    padding-right: 5px;
}
.btn-del-i::before{
    content: '\2716';
    padding-right: 5px;
}
.btn-edit-i::before{
    content: '\270E';
    padding-right: 5px;
}
.btn-save-i::before{
    content: '\2714';
    padding-right: 5px;
}
.btn.btn-up-i::before{
    content: '\21E7';
    padding-right: 5px;
    font-weight: bold;
}
.btn.btn-down-i::before{
    content: '\21E9';
    padding-right: 5px;
    font-weight: bold;
}
.btn.btn-r3{
    border-radius: 3px;
}
.btn.btn-r5{
    border-radius: 5px;
}
.btn.btn-r7{
    border-radius: 7px;
}
.btn.btn-r10{
    border-radius: 10px;
}
.btn.btn-r50{
    border-radius: 50%;
}
.btn.btn-bw5{
    border-width: 5px;
}
.btn.btn-bw10{
    border-width: 10px;
}
table.form-table{
    font-family: segoe ui;
    font-weight: lighter;
    width: 100%;
}

table.form-table td:first-child{
    padding-right: 20px;
}