body{
    margin: 0px;
    background-color: #fafafa;
}
a{
    text-decoration: none;
}
.fl{
    float: left;
}
div#admin-wrapper{
    margin: 20px auto;
    width: 1270px;
    font-family: Arial;
}
div#admin-wrapper div.left-menu{
    float: left;
    width: 250px;
    font-size: 11pt;
}
div#admin-wrapper div.left-menu a{
    display: block;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 3px;
    color: #000;
}
div#admin-wrapper div.left-menu a.active{
    background-color: #eee;
}
div#admin-wrapper div.left-menu a:hover{
    background-color: #eee;
}
div#admin-wrapper div.right-content{
    float: left;
    box-sizing: border-box;
    width: 1020px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 30px 20px 20px;
}
div.message-box{
    padding: 20px 30px;
    text-align: left;
    border-radius: 5px;
    font-family: segoe ui;
    font-size: 12pt;
    margin: 20px 0px;
}
div.message-box.error{
    background-color: #ff4743;
    color: #fff;
}

div.message-box.error::before{
    content: 'Failed';
    display: block;
    background-image: url('/images/icons/failed.png');
    background-size: 24px 24px;
    padding-left: 30px;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 14pt;
}
div.message-box.success{
    background-color: #008549;
    color: #fff;
}
div.message-box.success:before{
    content: 'Success';
    display: block;
    background-image: url('/images/icons/success.png');
    background-size: 24px 24px;
    padding-left: 30px;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 14pt;
}
div.text-header{
    font-size: 12pt;
    font-weight: bold;
}
div.text-content{
    font-size: 11pt;
}
div.text-desc{
    font-size: 10pt;
}
div.col{
    margin: 0px 1em;
}
div#main-body{
    box-sizing: border-box;
    width: 1200px;
    margin: 0px auto;
    background-color: #fff;
}
div.tfw{
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(45deg,#09adea,orange);
}
div.tf{
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    min-width: 480px;
}
div.tf div.tf-header{
    text-align: center;
    padding: 30px 0px;
    font-size: 18pt;
    font-weight: 600;
    text-transform: uppercase;
    font-family: segoe ui;
    background-color: #fff;
    color: #333;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
div.tf div.tf-content{
    text-align: center;
    padding: 1px 50px 25px;
    background-color: #fff;
}
div.tf div.tf-content form{
    text-align: left;
    display: inline-block;
}
div.tf div.tf-content table td:first-child{
    padding: 10px 2em 10px 0px;
    font-family: segoe ui;
    font-weight: 600;
    font-size: 11pt;
}
div.tf div.tf-content table td:nth-child(2){
    padding: 10px 0px;
}
div.form-field{
    padding: 5px 0px;
}
div.form-field-label{
    padding: 5px 0px;
}
div.form-field-control{
    padding: 5px 0px;
}
.clearfix::after{
    content:'';
    clear:both;
    display: block;
}
div#footer{
    margin: 20px 0px;
    padding: 20px 0px;
    background-color: #fff;
}
div#footer-wrapper{
    width: 1200px;
    margin: 20px auto;
}
label{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
input[type="text"], input[type="password"]{
    padding: 7px 15px;
    border: 2px solid #26ad05;
    border-radius: 3px;
}
input[type="text"]:focus, input[type="password"]:focus{
    box-shadow: 0px 0px 10px 0px rgba(38,173,5,0.4);
    text-align: center;
}
input[type="submit"], input[type="reset"]{
    padding: 5px 25px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 10pt;
    font-family: segoe ui;
    font-weight: 600;
    border-radius: 2em;
    transition: all 500ms;
}
input.btn-active{
    border-color: #26ad05;
    color: #26ad05;
}
input.btn-inactive{
    border-color: red;
    color: red;
}
input.btn-active:hover{
    background-color: #26ad05;
    color: #fff;
}
input.btn-inactive:hover{
    background-color: red;
    color: #fff;
}
div#top-bar{
    padding: 5px 20px;
    background-color: #1FBE80;
    text-align: right;
    font-family: segoe ui;
}
div#top-bar > a{
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
div#control-bar-wrapper{
    background-color: #26AD05;
}
div#control-bar{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0px auto;
    height: 60px;
}
div#control-bar > div{
    display: inline-block;
    vertical-align: bottom;
}
div#control-bar > div#logo{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}
div#logo > a{
    display: inline-block;
}
div#logo span{
    color: #fff;
    font-size: 24pt;
    text-transform: uppercase;
    font-family: segoe ui;
    font-weight: bold;
    display: inline-block;
}
div#menu-wrapper{
    border-radius: 3px;
    width: 24px;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    background-image: url('/images/icons/menu.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 0px 100%;
}
div#search-bar{
    margin: 0px 30px;
}
div#search-bar input[type="text"]{
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 3px 0px 0px 3px;
    font-size: 12pt;
    color: #21774E;
}
div#search-bar input[type="text"]:focus{
    text-align: left;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) inset;
}
div#search-bar button{
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 0px 3px 3px 0px;
    background-color: #fff;
    color: #ABCC14;
    font-size: 12pt;
    transition: 500ms;
}
div#search-bar button:hover{
    background-color: #ABCC14;
    color: #fff;
}
div#account-control{
    position: relative;
    font-weight: 500;
    font-family: segoe ui;
    height: 100%;
    line-height: 60px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
div#account-name{
    color: #fff;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div#account-options{
    display: none;
    line-height: initial;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
    padding: 10px 0px;
}
div#account-options > a{
    padding: 5px 20px;
    white-space: nowrap;
    display: block;
    color: #000;
}
div#account-options > a:hover{
    background-color: #26ad05;
    color: #fff;
}
div#account-options::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
div#account-control:hover div#account-options{
    display: block;
}
div#slider-wrapper{
    margin: 0px auto;
    width: 1200px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}
div#slider{
    height: 300px;
    overflow: hidden;
    position: relative;
}
div#slider img{
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0px;
    animation-delay: 0s;
    animation-duration: 700ms;
    animation-iteration-count: 1;
}
div#slider-next{
    font-size: 18pt;
    font-weight: bolder;
    color: #0f0;
    border: 1px solid rgba(0,255,0,0.3);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    width: 60px;
    height: 30px;
    display: inline-block;
    top: 50%;
    right: 20px;
    margin: -15px 0px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
div#slider-next:hover{
    box-shadow: 0px 0px 5px 0px #ddd;
}
div#slider-previous{
    font-size: 18pt;
    font-weight: bolder;
    color: #0f0;
    border: 1px solid rgba(0,255,0,0.3);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    width: 60px;
    height: 30px;
    display: inline-block;
    top: 50%;
    left: 20px;
    margin: -15px 0px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
div#slider-previous:hover{
    box-shadow: 0px 0px 5px 0px #ddd;
}
div#slider-indicator{
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    text-align: center;
    line-height: 0;
    user-select: none;
    -webkit-user-select: none;
}
div#slider-indicator div.slider-indicator-index{
    background: rgba(92,180,118,0.75);
    width: 30px;
    height: 10px;
    display: inline-block;
}
div#slider-indicator div.slider-indicator-index.active{
    background: rgba(255,255,255,0.95);
}
@keyframes showImage{
    from{
            opacity: 0;
    }
    to{
            opacity: 1;
    }
}
@keyframes righttoleft{
    from{
            left: 150%;
    }
    to{
            left: 50%;
    }
}
@keyframes lefttoright{
    from{
            left: -50%;
    }
    to{
            left: 50%;
    }
}
div#menu{
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 1;
    display: none;
    line-height: initial;
    min-width: 150px;
}
div#menu-wrapper:hover div#menu{
    display: block;
}
div#menu a{
    text-decoration: none;
    font-family: segoe ui;
}
div#menu div.menu.l1 > a{
    display: block;
    white-space: nowrap;
    padding: 5px 20px;
    font-size: 10pt;
    font-weight: 600;
    min-width: 160px;
}
div#menu div.menu.l2{
    display: none;
    background-color: #fff;
    min-height: 100%;
}
div#menu div.menu.l2 > a{
    display: block;
    padding: 5px 20px;
    font-size: 10pt;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}
div#menu div.menu.l2 > a:hover{
    background-color: #26ad05;
    color: #fff;
}
div#menu div.menu.l1:hover > a{
    background-color: #26ad05;
    color: #fff;
}
div#menu div.menu.l1:hover div.menu.l2{
    position: absolute;
    left: 100%;
    top: 0px;
}
div#menu div.menu.l1:hover div.menu.l2{
    display: block;
}