
.shop-profile-wrapper{
    width: 1270px;
    margin: 10px auto;
}
.shop-profile-wrapper .left-menu{
    width: 250px;
    float: left;
}

.shop-profile-wrapper .right-content{
    width: 1020px;
    float: left;
}
.shop-profile-wrapper .left-menu .menu{
    background-color: #fff;
    margin: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
}
.shop-profile-wrapper .left-menu .menu .menu-item{
    padding: 10px 0px 10px 20px;
    color: #000;
}
.shop-profile-wrapper .left-menu .menu .menu-item.active{
    background-color: #fafafa;
    border-left: 5px solid #26ad05;
}
.shop-profile-wrapper .right-content .shop-profile-card{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-title{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-title .header{
    font-size: 1.5em;
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-title .desc{
    
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-content{
    padding: 5px 20px;
}
.shop-profile-update-form{
    
}
.shop-profile-update-form .form-label{
    font-size: 1.2em;
}
.shop-profile-update-form input[type="text"]{
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
}
.shop-profile-update-form textarea{
    border-radius: 2px;
    border: 1px solid #aaa;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    font-family: initial;
    padding: 10px 20px;
}



#shop-register{
    text-align: center;
}
#shop-register .shop-register-holder{
    min-width: 480px;
    display: inline-block;
    margin: 20px 0px;
    padding: 140px 50px 50px;
    border-radius: 5px;
    text-align: initial;
    background-color: #fff;
    background-image: url('/images/icons/shop-icon.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center 20px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}
#shop-register .form-label{
    font-size: 1.2em;
}
#shop-register .form-field{
    margin-bottom: 5px;
}
.shop-form-control input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #158a0e;
    border-radius: 2px;
    font-family: segoe ui;
    font-size: 1.1em;
}
.shop-form-control textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #158a0e;
    border-radius: 2px;
    font-family: segoe ui;
    resize: vertical;
}

.user-avatar{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #dde7de;
}
.user-avatar.small{
    width: 32px; 
    height: 32px;
    margin: 5px;
    border: 2px solid #fff;
}
.user-avatar.large{
    width: 200px;
    height: 200px;
}
.user-avatar .uploadpoint{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.7);
}
.user-avatar .uploadpoint::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    background-image: url('/images/icons/image-upload.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.user-avatar .uploadpoint:hover{
    background-color: #fff;
    cursor: pointer;
}
.pagination-wrapper{
    text-align: center;
}
.pagination-wrapper > a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #06a24f;
    margin: 2px;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.pagination-wrapper > a.active{
    background-color: red;
}
.daddress-item{
    margin: 20px 0px;
    padding: 20px;
    border: 1px solid #eee;
}

.daddress-item:hover{
    background-color: #eee;
}

.daddress-item .dname{
    font-size: 1.2em;
    font-weight: bold;
}
.daddress-item .ddef{
    color: #60a5ed;
}
.daddress-item .dphone{
    letter-spacing: 1px;
}
.daddress-item .daddress{
    padding: 20px 0px 0px 0px;
}
.progress-total{
    background-color: #fff;

    border-radius: 50px;

    overflow: hidden;

    height: 20px;

    border: 1px solid #4cd964;
}
.progress-current{
    background-color: #4cd964;

    border-radius: 50px;

    overflow: hidden;
    height: 100%;
    transition: all 700ms;
}

#scart-wrapper{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 30px;
}
span#scart-icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('/images/icons/shopping-cart.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: invert(100%);
}


#modal-wrapper{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 3;
    overflow: auto;
}
@keyframes anim-modal-show{
    from{
        transform: scale(0) translate(0px, -300px);
        opacity: 0;
    }
    to{
        transform: scale(1) translate(0px, 0px);
        opacity: 1;
    }
}
#modal-wrapper .modal{
    display: inline-block;
    margin: 30px 0px;
    text-align: initial;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
    min-width: 540px;
    overflow: hidden;
    animation-name: anim-modal-show;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
#modal-wrapper .modal-header-button{
    display: inline-block;
    float: right;
    font-weight: bold;
    font-size: 12pt;
    font-family: segoe ui;
    cursor: pointer;
}
#modal-wrapper .modal-header{
    box-sizing: border-box;
    padding: 10px 20px;
}
#modal-wrapper .modal-header-title{
    float: left;
    max-width: 20em;
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
}
#modal-wrapper .modal-body{
    padding: 20px;
}
table.data-table{
    border-collapse: collapse;
    border: 1px;
    width: 100%;
}
table.data-table tr:nth-child(odd){
    background-color: #eee;
}
table.data-table td{
    border: 1px solid #afafaf;
    padding: 5px 10px;
}
table.data-table th{
    border: 1px solid #afafaf;
    padding: 10px;
}
table.data-table.maincategory td:nth-child(1){
    text-align: center;
}
table.data-table.maincategory td:nth-child(2){
    min-width: 10em;
}
table.data-table.maincategory td:nth-child(3){
    min-width: 10em;
}
.u-p10-0{
    padding: 10px 0px;
}
@keyframes anim-loading-icon{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loading-i-wrapper{
    text-align: center;
}
.loading-i{
    width: 10px;
    height: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: red transparent;
    border-radius: 50%;
    animation-name: anim-loading-icon;
    animation-timing-function: linear;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    display: inline-block;
}
p.invalid-data{
    margin: 0px;
    padding: 5px 0px;
    color: red;
    font-size: 10pt;
    font-family: arial;
    display: none;
}
p.invalid-data.active{
    display: block;
}