/*timeline don hang*/
@keyframes anim-orderitemline-current{
    0%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        
        transform: scale(1) rotate(-15deg);
    }
    75%{
        
        transform: scale(1) rotate(-30deg);
    }
    100%{
        
        transform: scale(2) rotate(-45deg);
    }
}

.ordertimeline{
    display: flex;
    padding: 50px;
    justify-content: center;
}

.ordertimeline-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ordertimeline-icon.waitorder{
    background-image: url('/images/icons/waitorder.png');
}
.ordertimeline-icon.waitship{
    background-image: url('/images/icons/waitship.png');
}
.ordertimeline-icon.shipping{
    background-image: url('/images/icons/shipping.png');
}
.ordertimeline-icon.delivered{
    background-image: url('/images/icons/delivered.png');
}
.ordertimeline-icon.complete{
    background-image: url('/images/icons/complete.png');
}
.ordertimeline-icon.line{
    background-image: url('/images/icons/line.png');
    margin: 0px 25px;
}


.ordertimeline-icon.waitorder.active{
    background-image: url('/images/icons/waitorderactive.png');
}
.ordertimeline-icon.waitship.active{
    background-image: url('/images/icons/waitshipactive.png');
}
.ordertimeline-icon.shipping.active{
    background-image: url('/images/icons/shippingactive.png');
}
.ordertimeline-icon.delivered.active{
    background-image: url('/images/icons/deliveredactive.png');
}
.ordertimeline-icon.complete.active{
    background-image: url('/images/icons/completeactive.png');
}
.ordertimeline-icon.line.active{
    background-image: url('/images/icons/lineactive.png');
}

.ordertimeline-icon.current{
    animation-name: anim-orderitemline-current;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*sao danh gia*/
.star-rate{
    position: relative;
}

.star-rate svg{
    width: 50px;
    height: 50px;
}

.star-rate input{
    display: none;
}

.star-rate .star-rate-background{
    fill: #eee;
}

.star-rate .star-rate-foreground{
    fill: transparent;
    position: absolute;
    top: 0;
}

@keyframes anim-star-scale{
    from{
        opacity: 0;
        transform: scale(1);
    }
    to{
        opacity: 1;
        transform: scale(1.2);
    }
}

.star-rate .star-rate-foreground svg.active{
    fill: #44b27c;
    animation-name: anim-star-scale;
    animation-duration: 200ms;
    animation-iteration-count: 1;
}

/*phan trang*/
button.btn-page{
    background-color: #06a24f;
    color: #fff;
    display: inline-block;
    border: 1px solid #06a24f;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 50%;
}

button.btn-page.active{
    border: 1px solid #ccc;
    background-color: #ccc;
}

#pagination-bar{
    margin: 20px 0px;
    text-align: center;
}

/*star rating*/
div.star-rank{
    position: relative;
    display: inline-block;
}
div.star-foregound{
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

/*card san pham va swiper*/
.swiper-wrapper{
    height: max-content;
    overflow: hidden;
    position: relative;
}
.swiper-holder{
    transition: all 500ms;
    height: 100%;
    width: max-content;
}
.swiper-item{
    float: left;
    display: inline-block;
}
.swiper-previous{
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -16px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
    -moz-user-select: none;
}
.swiper-next{
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
    -moz-user-select: none;
}
.swiper-previous::after{
    content: '\2190';
}
.swiper-next::after{
    content: '\2192';
}
.swiper-previous:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.swiper-next:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.swiper-previous.active{
    background-color: #09adea;
    border: 1px solid #09adea;
    color: #fff;
}
.swiper-next.active{
    background-color: #09adea;
    border: 1px solid #09adea;
    color: #fff;
}
a.product-link{
    text-decoration: none;
    color: unset;
}
.product-card{
    width: 200px;
    border-radius: 2px;
    border-bottom: 10px solid #44b27c;
    overflow: hidden;
}
.product-card:hover{
    box-shadow: 0px 0px 30px 0px rgba(128,128,128,0.2);
}
.product-card .product-info{
    padding: 10px;
    height: 100px;
    background-color: #fff;
    border-width: 1px;
}
.product-card .product-image{
    height: 200px;
    position: relative;
    background: #fff;
}
.product-card .product-name{
    line-height: 1em;
    height: 2em;
    overflow: hidden;
    font-family: tahoma;
}
.product-card .product-image .back-image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.product-card .product-image .fore-image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.product-card .product-image .add-to-card{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    line-height: 300px;
    text-align: center;
}
.product-card .product-price{
    color: #d00;
    font-family: arial;
    font-size: 1.3em;
}
.product-card .product-rating{
    color: #f00;
}
.product-card .product-warehouse{
    text-align: right;
}
.product-card .product-image .add-to-card .btn-add-to-card{
    border: 1px solid #26ad05;
    background-color: #44b27c;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    opacity: 0;
    transition: all 500ms;
}
.product-card:hover .product-image .add-to-card .btn-add-to-card{
    opacity: 1;
}
.swiper-wrapper .product-card{
    margin-right: 10px;
}
            
            
/*danh sach san pham co filter*/
.filter-product-list-wrapper{
    background-color: #f0f0f0;
}

.filter-product-list-wrapper .filter-product-list{
    width: 1200px;
    margin: 0px auto;
    display: flex;
}

.filter-product-list-wrapper .product-filter{
    width: 300px;
}

.filter-product-list-wrapper .product-list-container{
    width: 900px;
}

.filter-product-list-wrapper .product-list-category{
    padding: 20px;
    font-weight: lighter;
    font-family: segoe ui;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.filter-product-list-wrapper .product-list{
    display: flex;
    flex-wrap: wrap;
}
/*Them san pham*/
.product-form .product-attribute{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.product-form .product-attribute .product-attribute-delete{
    cursor: pointer;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 14pt;
}
.product-form .product-attribute .product-attribute-delete:hover{
    color: #f00;
}
.product-form .product-attribute .product-attribute-key{

}
.product-form .product-attribute .product-attribute-value{

}

.container{

}

.header-mainmenu{
    background: #44b27c;
}

.header-mainmenu a{
    text-decoration: none;
}

.header-mainmenu .logo{
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    font-size: 30px;
    color: #fff;
    font-family: segoe ui;
    font-weight: bold;
    text-shadow: 0px 0px 5px #fff;
    padding: 10px 0px;
}

.main-wrapper{
    display: flex;
    background-color: #fafafa;
}

.main-wrapper .left-menu{
    font-family: segoe ui;
    width: 15%;
    background-color: #fff;
    width: 250px;
    min-height: 100vh;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #000;
    border-left: 5px solid #ebf4fc;
    border-right: 1px solid #ebf4fc;
}
.main-wrapper .left-menu .orders-count{
    display: inline-block;
    border: 100px;
    border: 1px solid #eee;
    background-color: #eee;
    line-height: 1;
    padding: 5px 10px;
    border-radius: 100px;
    margin-right: 5px;
}
.mi{
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.mi.shop{
    background-image: url('/images/icons/shop-menu-icon.png');
}
.mi.order{
    background-image: url('/images/icons/order-menu-icon.png');
}
.mi.product{
    background-image: url('/images/icons/product-menu-icon.png');
}
.mi.statistics{
    background-image: url('/images/icons/shop-statistics.png');
}
.main-wrapper .left-menu .menu-item{
    font-size: 0.85em;
}
.main-wrapper .left-menu a{
    text-decoration: none;
    padding-left: 25px;
    white-space: nowrap;
    display: block;
    color: inherit;
}
.main-wrapper .left-menu .menu .menu-label{
    line-height: 2;
}
.main-wrapper .left-menu .menu .menu-items{
    line-height: 2;
    height: 0px;
    overflow: hidden;
    transition: all 200ms;
    background-color: #fff;
}
.main-wrapper .left-menu .menu.open .menu-items{
    height: max-content;
}
.main-wrapper .left-menu .menu .menu-items .menu-item:hover{
    background-color: #eee;
}
.main-wrapper .left-menu .menu .menu-items .menu-item.active{
    background-color: #eee;
}
.main-wrapper .right-content{
    flex-basis: 100%;
    border-top: 1px solid transparent;
}

.product-form{
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
.product-form .product-form-title{
    font-size: 1.6em;
    font-weight: lighter;
    margin-bottom: 1em;
    background-color: #fff;
    padding: 10px 0px 10px 30px;
    color: #000;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    font-family: segoe ui;
    border-left: 10px solid #44b27c;
}
.product-form .product-section{
    background-color: #fff;
    padding: 0px 30px 30px;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.product-form .product-section-title{
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0px 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

/*phan 2 pane select cho maincategory*/

.two-pane-select{
    display: flex;
    height: 20em;
    border: 1px solid #ccc;
}
.two-pane-select .left-pane{
    overflow-y: scroll;
    width: 50%;
    height: 100%;
    line-height: 2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.two-pane-select .right-pane{
    overflow-y: scroll;
    width: 50%;
    height: 100%;
    line-height: 2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.two-pane-select .select-item{
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.two-pane-select .select-item:hover{
    background-color: #ddd;
    cursor: pointer;
}
.two-pane-select .select-item.active{
    background-color: #ddd;
    color: #3fb079;
    font-weight: 600;
}

.product-image-upload-card{
    width: 200px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.product-image-upload-card .product-image-upload-progress{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.product-image-upload-card .progress-total{
    height: 5px;
    width: 80%;
    margin: 80px auto;
}
.product-image-upload-card .product-image-upload-preview{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.product-image-upload-card .product-image-upload-progress.active{
    background-color: rgba(255,255,255,0.7);
    display: block;
}
.product-image-upload-chosen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
label.product-image-upload-select{
    width: 100px;
    height: 100px;
    border: 2px dashed #777;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    background-image: url('/images/icons/add-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    display: block;
}
label.product-image-upload-select:hover{
    background-color: #eee;
}
label.product-image-upload-select input{
    display: none;
}

.product-image-upload-card .product-image-upload-delete{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.product-form .product-field-row{
    margin-bottom: 1em;
}

.product-form .product-field-row.horizontal{
    display: flex;
    align-items: center;
}

.product-form .product-field-row.horizontal .field-label{
    flex-basis: 200px;
    text-align: right;
    padding-right: 20px;
}

.product-form .product-field-row.horizontal .field-control{
    flex-basis: 100%;
}

.product-form .product-field-row.vertical .field-label{
    margin-bottom: 10px;
}

.product-form .product-field-row.vertical .field-label::after{
    content: ':';
}

.product-form .product-field-row.vertical .field-control{

}

.product-attribute-add-btn{
    padding: 2px 20px;
    border: 0px;
    background-color: #09adea;
    border-radius: 50px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    -moz-user-select: none;
}

.form-btn-group{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.form-btn-group.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
            /*ket thuc them san pham*/

.shop-profile-wrapper .right-content .shop-profile-card{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-title{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    font-family: segoe ui;
    font-weight: lighter;
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-title .header{
    font-size: 1.6em;
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-title .desc{
    
}
.shop-profile-wrapper .right-content .shop-profile-card .shop-profile-content{
    padding: 5px 20px;
}
.shop-profile-wrapper #shopavatar{
    display: none;
}
.shop-profile-wrapper #shopbackground{
    display: none;
}
.shop-profile-wrapper .shop-profile-background-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px 20px;
    background-color: rgba(255,255,255,0.7);
    color: #000;
    border-radius: 1000px;
    font-family: segoe ui;
    font-weight: lighter;
    cursor: pointer;
    z-index: 5;
}
.shop-profile-wrapper .shop-profile-avatar-btn{
    position: absolute;
    padding: 10px 0px;
    background-color: rgba(255,255,255,0.7);
    color: #000;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    font-family: segoe ui;
    font-weight: lighter;
    cursor: pointer;
}
.shop-profile-wrapper .shop-profile-meta{
    height: 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.shop-profile-wrapper .shop-profile-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.shop-profile-wrapper .shop-profile-avatar-holder{
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}
.shop-profile-wrapper .shop-profile-avatar-holder .shop-profile-avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border: 5px solid #fff;
}
.shop-profile-update-form{
    
}
.shop-profile-update-form .form-label{
    font-size: 1.2em;
    font-family: segoe ui;
    font-weight: lighter;
    margin-bottom: 5px;
    display: inline-block;
}
.shop-profile-update-form input[type="text"]{
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
}
.shop-profile-update-form textarea{
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

#shop-register{
    text-align: center;
}
#shop-register .shop-register-holder{
    min-width: 480px;
    display: inline-block;
    margin: 20px 0px;
    padding: 140px 50px 50px;
    border-radius: 5px;
    text-align: initial;
    background-color: #fff;
    background-image: url('/images/icons/shop-icon.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center 20px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}
#shop-register .form-label{
    font-size: 1.2em;
}
#shop-register .form-field{
    margin-bottom: 5px;
}
.shop-form-control input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #158a0e;
    border-radius: 2px;
    font-family: segoe ui;
    font-size: 1.1em;
}
.shop-form-control textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #158a0e;
    border-radius: 2px;
    font-family: segoe ui;
    resize: vertical;
}

.user-avatar{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #dde7de;
}
.user-avatar.small{
    width: 32px; 
    height: 32px;
    margin: 5px;
    border: 2px solid #fff;
}
.user-avatar.large{
    width: 200px;
    height: 200px;
}
.user-avatar .uploadpoint{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.7);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-avatar .uploadpoint::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url('/images/icons/image-upload.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.user-avatar .uploadpoint:hover{
    background-color: #fff;
    cursor: pointer;
}
.pagination-wrapper{
    text-align: center;
}
.pagination-wrapper > a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #44b27c;
    margin: 2px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
}
.pagination-wrapper > a.active{
    background-color: red;
}
.daddress-item{
    margin: 20px 0px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
}

.daddress-item:hover{
    background-color: #eee;
}

.daddress-item .dname{
    font-size: 1.2em;
    font-weight: bold;
}
.daddress-item .ddef{
    color: #60a5ed;
}
.daddress-item .dphone{
    letter-spacing: 1px;
}
.daddress-item .daddress{
    padding: 20px 0px 0px 0px;
}
.progress-total{
    background-color: #fff;

    border-radius: 50px;

    overflow: hidden;

    height: 20px;

    border: 1px solid #4cd964;
}
.progress-total .progress-current{
    background-color: #4cd964;

    border-radius: 50px;

    overflow: hidden;
    height: 100%;
    transition: all 700ms;
}
#modal-wrapper{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 3;
    overflow: auto;
}
@keyframes anim-modal-show{
    from{
        transform: scale(0) rotateX(360deg);
        opacity: 0;
    }
    to{
        transform: scale(1) rotateX(0deg);
        opacity: 1;
    }
}
#modal-wrapper .modal{
    display: inline-block;
    margin: 30px 0px;
    text-align: initial;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
    min-width: 540px;
    overflow: hidden;
    animation-name: anim-modal-show;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
#modal-wrapper .modal-header-button{
    display: inline-block;
    float: right;
    font-weight: bold;
    font-size: 12pt;
    font-family: segoe ui;
    cursor: pointer;
}
#modal-wrapper .modal-header{
    box-sizing: border-box;
    padding: 10px 20px;
}
#modal-wrapper .modal-header-title{
    float: left;
    max-width: 20em;
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
}
#modal-wrapper .modal-body{
    padding: 20px;
}
table.data-table{
    border-collapse: collapse;
    border: 1px;
    width: 100%;
}
table.data-table tr:nth-child(odd){
    background-color: #eee;
}
table.data-table td{
    border: 1px solid #afafaf;
    padding: 5px 10px;
}
table.data-table th{
    border: 1px solid #afafaf;
    padding: 10px;
}
table.data-table.maincategory td:nth-child(1){
    text-align: center;
}
table.data-table.maincategory td:nth-child(2){
    min-width: 10em;
}
table.data-table.maincategory td:nth-child(3){
    min-width: 10em;
}
.u-p10-0{
    padding: 10px 0px;
}
@keyframes anim-loading-icon{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loading-i-wrapper{
    text-align: center;
}
.loading-i{
    width: 10px;
    height: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: red transparent;
    border-radius: 50%;
    animation-name: anim-loading-icon;
    animation-timing-function: linear;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    display: inline-block;
}
p.invalid-data{
    margin: 0px;
    padding: 5px 0px;
    color: red;
    font-size: 10pt;
    font-family: arial;
    display: none;
}
p.invalid-data.active{
    display: block;
}