/*Toast stylesheet*/
div#toast-wrapper{
    position: fixed;
    top: 0px;
    right: 0px;
    display: block;
    z-index: 100;
}
div#toast-wrapper div.toast-box{
    margin: 10px 30px;
    padding: 15px 30px;
    color: #fff;
    font-size: 12pt;
    font-family: Tahoma, sans-serif;
    border-radius: 3px;
    clear: both;
    float: right;
    transition-property: all;
    transition-timing-function: ease-in;
    opacity: 1;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
div#toast-wrapper div.success{
    border: 1px solid #7eb62e;
    background-color: #7eb62e;
}
div#toast-wrapper div.error{
    border: 1px solid #f64b2f;
    background-color: #f64b2f;
}
div#toast-wrapper div.warning{
    border: 1px solid #f6ca2f;
    background-color: #f6ca2f;
}
.fadeout{
    opacity: 0 !important;
}
.fadein{
    opacity: 1 !important;
}

.confirm-popup{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
}
.confirm-popup .messagebox{
    position: absolute;
    top: 50px;
    left: 50%;
    background-color: #fff;
    width: 600px;
    margin-left: -300px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}
.confirm-popup .content{
    font-size: 12pt;
    font-family: segoe ui;
    padding: 20px 30px;
}
.confirm-popup .btngroup{
    text-align: right;
    padding: 10px 30px;
}
.confirm-popup .activebtn{
    background-color: #09adea;
    padding: 5px 20px;
    border: 1px solid #09adea;
    margin: 5px;
    font-family: segoe ui;
    font-size: 12pt;
    color: #fff;
}
.confirm-popup .inactivebtn{
    background-color: #e00;
    padding: 5px 20px;
    border: 1px solid #e00;
    margin: 5px;
    font-family: segoe ui;
    font-size: 12pt;
    color: #fff;
}

.loading-popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.7);
    line-height: 100vh;
    text-align: center;
    z-index: 1000;
}
.loading-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px dotted;
    border-color: #06a24f transparent transparent transparent;
    border-radius: 50%;
    animation: anim-loading-icon 3s infinite;
}