/*Toast stylesheet*/
div#toast-wrapper{
    position: fixed;
    top: 0px;
    right: 0px;
    display: block;
    z-index: 1001;
}
div#toast-wrapper div.toast-box{
    margin: 10px 10px;
    padding: 15px 30px;
    width: 400px;
    color: #fff;
    font-family: segoe ui;
    font-weight: 400;
    border-radius: 10000px;
    clear: both;
    float: right;
    transition-property: all;
    transition-timing-function: ease-in;
    opacity: 1;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
div#toast-wrapper div.success{
    background-image: linear-gradient(90deg, #9cdc78, #7edca5);
}
div#toast-wrapper div.error{
    background-color: #f64b2f;
    background-image: linear-gradient(90deg, #ff8e9e, #ffba9e);
}
div#toast-wrapper div.warning{
    background-color: #f6ca2f;
    background-image: linear-gradient(90deg, #f6ca2f, #ffeaa9);
}
.fadeout{
    opacity: 0 !important;
}
.fadein{
    opacity: 1 !important;
}

.confirm-popup{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
}
.confirm-popup .messagebox{
    position: absolute;
    top: 50px;
    left: 50%;
    background-color: #fff;
    width: 600px;
    margin-left: -300px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}
.confirm-popup .content{
    font-size: 12pt;
    font-family: segoe ui;
    padding: 20px 30px;
}
.confirm-popup .btngroup{
    text-align: right;
    padding: 10px 30px;
}
.confirm-popup .activebtn{
    background-color: #09adea;
    padding: 5px 20px;
    border: 1px solid #09adea;
    margin: 5px;
    font-family: segoe ui;
    font-size: 12pt;
    color: #fff;
}
.confirm-popup .inactivebtn{
    background-color: #e00;
    padding: 5px 20px;
    border: 1px solid #e00;
    margin: 5px;
    font-family: segoe ui;
    font-size: 12pt;
    color: #fff;
}

.loading-popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.7);
    line-height: 100vh;
    text-align: center;
    z-index: 1000;
}
.loading-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px dotted;
    border-color: #06a24f transparent transparent transparent;
    border-radius: 50%;
    animation: anim-loading-icon 3s infinite;
}

.notification-popup{
    position: fixed;

top: 0px;

left: 0px;

width: 100vw;

height: 100vh;

z-index: 1000;
}

@keyframes anim-notification{
    from{
        transform: translate(0, -200px);
    }
    to{
        transform: translate(0, 0);
    }
}

.notification-popup .messagebox{
    width: 400px;

margin: 20px auto;

background-color: #fff;

padding: 20px 50px;

border-radius: 10px;

box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
animation-name: anim-notification;
animation-duration: 500ms;
transition: all 1000ms;
}

.notification-popup .content{
    font-size: 12pt;

font-weight: lighter;

font-family: arial;
}

.notification-popup .okbtn{
    border: 1px solid #f0f0f0;

background-color: #fafafa;

padding: 10px 30px;

width: 100%;

margin-top: 20px;

font-size: 12pt;

border-radius: 50px;
}
.notification-popup .okbtn:hover{
    background-color: #f6ca2f;
    color: #fff;
}